.container {
  @apply flex justify-center;
}

.nav {
  @apply bg-white p-4 rounded-b-3xl w-fit flex justify-evenly items-center px-16 fixed;

  & > .item {
    @apply cursor-pointer flex justify-center items-center flex-col bg-white mx-8;
    width: 30px;
    height: 30px;

    & > .icon svg {
      @apply fill-gray-400;
    }

    & > .title {
      @apply text-gray-500 text-sm hidden;
    }

    &:hover {
      & > .icon svg {
        @apply translate-y-1 fill-gray-500 transition-all ease-in-out duration-200;
      }

      & > .title {
        @apply block translate-y-1 fill-gray-500 transition-all ease-in-out;
        animation: show 0.2s ease-out;
      }
    }
  }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
